nav {
  width: 80%;
  text-align: center;
  background-color: rgb(240, 156, 156);
  margin: auto;
}
a {
  border-right: 2px solid black;
  padding: 1em;
  text-decoration: none;
  color: white;
  border-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a#contact {
  border: none;
}
#mice {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
